<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AICHRONOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="header-container">
        <a href="{{ url_for('auth.index') }}"> <h1>AICHRONOS</h1> </a>
        <div id="logo-logout-container"> <!-- Nuevo contenedor -->
            <button id="logo-btn" onclick="toggleLogoutForm()">
                <img src="{{ url_for('static', filename='imgs/hourglass.png') }}" alt="Reloj de Arena" width="40" height="40">
            </button>
            <div id="logout-form-container" style="display: none;">
                <form action="{{ url_for('auth.logout') }}" method="GET">
                    <button type="submit" id="logout-btn"><bold>Logout</bold></button>
                </form>
            </div>
        </div>
    </div>
    
    <div id="flash-messages-container">
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="digital-rain"></div>
    <div id="terminal">
        <div id="output"></div>
        <div id="input-area">
            <span id="prompt">&gt;</span>
            <input type="text" id="user-input" autofocus>
            <button id="submit-btn">Submit</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rain.js') }}"></script>
</body>
</html>
